/* @import '~@flaticon/flaticon-uicons/css/all/all'; */
.about-container {
  margin: 4rem 6rem;
  text-align: start;
}

.about-container h1 {
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .about-container {
    margin: 4rem 2rem;
  }
}
.bg-02 .edge {
  border: 3px solid #01959a;
  border-radius: 9px;
}
.bg-02 .edge img {
  border-radius: 6px;
}
.bg-02 .heading {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1.25rem 0;
  position: relative;
  z-index: 2;
  transition: all ease-in 0.5s;
}
.bg-02 .heading span {
  display: block;
  margin: 0 0 0.625rem 0;
  color: #01959a;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.bg-02 .heading h1 {
  color: #222;
}
.bg-02 .wrapper {
  position: relative;
  z-index: 2;
  margin: 1.25rem 0;
}
.bg-02 .wrapper .icon {
  display: flex;
  flex-direction: column;
  margin: 0.9375rem 0;
  position: relative;
  align-items: center;
}
.bg-02 .wrapper .icon i {
  display: block;
  height: 4.75rem;
  width: 4.75rem;
  border-radius: 50%;
  background: #01959a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  color: #fff;
  margin: 0 0 0.625rem 0;
}
.bg-02 .wrapper .icon h4 {
  display: inline-block;
  font-size: 1.5625rem;
  color: #01959a;
  font-weight: 600;
  margin: 0 0 0.625rem 0;
}
.bg-02 .wrapper .icon h5 {
  font-size: 1.125rem;
  color: #222;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
